.cell{
    height: 80px;
    width: 80px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 55px;
    cursor: pointer;
    color: aquamarine;
    border-color: blueviolet;
    
}

#gamecontainer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 250px;
    margin: auto;
}
body {

    background: #0f3a69;
    color: burlywood;
    
}
h3{
    color:rgb(221, 49, 147);
}